.header_bottom2
  .header_bottom2_invitephoto
    .header_photo_above
      .page-container-responsive
        .floting_text
          .floting_text_field
            .floting_text_field_box
              .floting_text_field_box_inside
                .catchcopy
                  %h1.white.heavy.bold Resister Keywords here
                %p.white.space36
                .space36
.user_wrap.clearfix
  .user_content
    .user_content_right
      - if @tag.errors.any?
        .form__errors
          %h2= "#{@tag.errors.count}件のエラーが発生しました。"
          %ul
            - @tag.errors.full_messages.each do |msg|
              %li= msg
      .user_content_right_contents
        .user_content_right_contents_title Register key word
        .user_content_right_contents_content
          = form_for(@tag, type: :hidden) do |f|
            .user_content_right_contents_content_list
              .user_content_right_contents_content_list_title Keywored
              .user_content_right_contents_content_list_input
                = f.text_field :keytag, id:"", class:"user_inputbox", placeholder:"Set title! What do you want y to share?", autocomplete: "off"
                = f.submit :Send, class: "form__submit btn btn-primary btn-large"
